.cover-section{
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .cover-section-title{
        padding: 38.2rem 0 38.2rem;
        margin-bottom: 0;
    }
}

